jar/
!makb-assets/Dockerbuild/jar
makb-tomcat/Dockerbuild/.ssh/*
!makb-tomcat/Dockerbuild/.ssh/readme.txt
makb-assets/Dockerbuild/.ssh/*
!makb-assets/Dockerbuild/.ssh/readme.txt
makb-assets/Dockerbuild/makb_assets
makb-assets/Dockerbuild/deployment_scripts/*
!makb-assets/Dockerbuild/deployment_scripts/readme.txt
