* text=auto
makb-tomcat/Dockerbuild/docker-entrypoint.sh text eol=lf
makb-assets/Dockerbuild/karma/** text eol=lf
makb-assets/Dockerbuild/karma/user-uploaded-files/titles-list-sample.csv text eol=crlf
